@import '../../styles/variables';

.projects-page {
  @import '../../styles/mixins';

  min-height: 100vh;
  padding: 4rem 0;
  width: 100%;

  &__grid {
    display: grid;
    gap: 2rem;
  }

  &__filters {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .project-card {
    border-radius: 0.75rem;
    overflow: hidden;
  }
}
