/* Education Page */@import '../../styles/variables';

.education-page{ min-height:100vh; padding:4rem 0;@import '../../styles/mixins';

  &__container{ max-width:1100px; margin:0 auto; }

  &__timeline{ display:flex; flex-direction:column; gap:1rem; }.education-page {

}  min-height: 100vh;

  width: 100%;
}
