@import '../../styles/variables';
@import '../../styles/mixins';

.hero-canvas {
  &--fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
