.text-rotate {
  display: inline-flex;
  overflow: hidden;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-rotate-inner {
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-element {
  display: inline-block;
}
