/* Home page base styles */
@import "../../styles/variables";

.home-page {
  @import "../../styles/mixins";

  min-height: 100vh;
  padding: 4rem 0;

  // New "Shimmer" Text Effect (Replaces Glitch)
  .glitch-wrapper {
    display: inline-block;
  }

  .glitch {
    position: relative;
    background: linear-gradient(
      to right,
      #0ea5e9 20%,
      #60a5fa 30%,
      #0ea5e9 70%,
      #2563eb 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 4s linear infinite;
    
    // Disable the old pseudo-element glitch effects
    &::before,
    &::after {
      display: none;
    }
  }

  @keyframes textShine {
    to {
      background-position: 200% center;
    }
  }

  // Typewriter Cursor
  .cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #0ea5e9;
    animation: blink 1s step-end infinite;
    vertical-align: middle;
    margin-left: 2px;
  }

  @keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
  }
}
